@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'san-francisco';
  font-weight: 100;
  src: url('../public/fonts/SFUIDisplay-Thin.otf');
}

@font-face {
  font-family: 'san-francisco';
  font-weight: 300;
  src: url('../public/fonts/SFUIDisplay-Light.ttf');
}

@font-face {
  font-family: 'san-francisco';
  font-weight: 400;
  src: url('../public/fonts/SFUIDisplay-Regular.otf');
}

@font-face {
  font-family: 'san-francisco';
  font-weight: 500;
  src: url('../public/fonts/SFUIDisplay-Medium.otf');
}

@font-face {
  font-family: 'san-francisco';
  font-weight: 600;
  src: url('../public/fonts/SFUIDisplay-Semibold.otf');
}


@layer components {
  .btn-anim {
    @apply hover:transition-none transition duration-500 active:translate-x-0.5 active:translate-y-0.5;
  }
}